<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NRI - Wellbeing Services</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav-icon/icon.png">


    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">


    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="vendor/html5shiv.js"></script>
        <![endif]-->

</head>

<body>
    <div class="main-page-wrapper">

        <!-- Header _________________________________ -->
        <header>
            <div class="container clear-fix">
                <div class="right-side float-left">
                       <marquee>     
    <p>It’s an ISO Certified Company - This Platform is especially designed to cater each & every need of a Non Resident Indian in Telangana & Andhra Pradesh States.</p>
    
   </marquee>

                    </div>
                <div class="left-side float-right">
                    <ul>
                        <li><a href="mailto:info@nriwellbeing.com" class="tran3s"><i class="fa fa-envelope p-color" aria-hidden="true"></i> info@nriwellbeing.com</a></li>
                        <li><a href="tel:+917036636670" class="tran3s"><i class="fa fa-phone p-color" aria-hidden="true"></i></i> +91 70 366 366 70</a> </li>
                         <li><a href="https://wa.me/+917337548998" class="tran3s"><i class="fa fa-whatsapp p-color" aria-hidden="true"></i> +91 7337 54 8998</a> </li>
                    </ul>
                </div>
                <!-- /.left-side -->
               
            </div>
            <!-- /.container -->
        </header>


        <!-- Theme Menu _________________________________ -->
        <div class="main-menu menu-colorOne">
            <div class="container clear-fix">
                <a href="/" class="float-left logo"><img src="static/images/nri-wellbeing-services.png" alt=""></a>
                <h1><span class="one"> 1 n All </span> <span class="ni">N</span>R<span class="in">I</span> WELLBEING SERVICES PVT. LTD. </h1>
                <!-- Menu -->
                <nav class="navbar float-right">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                         </button>
                    </div>
                    
                                        
                    <!-- Collect the nav links, forms, and other content for toggling -->
                      <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=''><a href="/">Home</a></li>

                            <li class=''><a href="/about-us">About Us</a></li>

                            <li class='dropdown-holder' class=""><a href="#">Services</a>
                                 <ul class="sub-menu">
                                    <li><a href="/properties-development" class="tran3s">Properties Development</a></li>

                                    <li><a href="/facility-management" class="tran3s">Facility Management Solutions</a></li>

                                    <li><a href="/property-assets-management" class="tran3s">Properties Management & Assets Management</a></li>

                                    <li><a href="/family-welfare" class="tran3s">Family Welfare</a></li>

                                    <li><a href="/construction-of-dream-houses" class="tran3s">Construction of Dream Homes</a></li>

                                    <li><a href="/leasing-services" class="tran3s">Leasing Services</a></li>

                                    <li><a href="/liaison-documentation-services" class="tran3s">Liaison and Documentation Services</a></li>

                                    <li><a href="/logistics-tours-travel-services" class="tran3s">Logistics, Tours and Travel Services</a></li>

                                    <li><a href="/financial-services" class="tran3s">Financial Services</a></li>
                                     <li><a href="/onboardservices" class="tran3s">On Board Services At Airport</a></li>

                                </ul>
                            </li>

                            <li class=''><a href="/faqs">FAQ's</a></li>

                            <li class='active'><a class="en-btn" href="/enquiry">Enquiry</a></li>

                                                         
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>


            </div>
        </div>
        <!-- /.main-menu -->
        <!-- bread cumb secion -->
        <section class="breadcrumb">
            <div class="container">
                <h1>Enquiry</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>Enquiry</li>
                </ul>
            </div>
        </section>

        <!-- conent Section _________________________ -->
        <div class="inner_conetent">
            <div class="container">
                 <div class="row align-items-center mb-30">
                    <div class="col-md-8">
                        <div class="form-container">
                            <form action="" method="POST"  class="form-horizontal">
                                <div class="heading">
                                                                    
                                    
                                    <h3>Enquiry Now</h3>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <i class="fa fa-user icon"></i>
                                            <input type="text" class="form-control" name="name" placeholder="Name" required>
                                             
                                        </div>

                                        <div class="form-group col-md-6">
                                             <i class="fa fa-envelope icon"></i>
                                            <input type="email" class="form-control" name="email" placeholder="Email" id="enqEmail" required>

                                             
                                        </div>

                                        <div class="form-group col-md-6">
                                            <i class="fa fa-phone icon"></i>
                                            <input type="text" class="form-control" title="Please enter valid phone number" name="mobile" placeholder="Mobile" required oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" maxlength="10">
                                             
                                        </div>
                                        <div class="form-group col-md-6">

                                            <select class="form-control" name="services" required>
                                                <option value="">Choose Your Service</option>
                                                <option value="Properties Development">Properties Development</option>
                                                <option value="Facility Management Solutions">Facility Management Solutions</option>
                                                <option value="Properties Management & Assets Management">Properties Management & Assets Management</option>
                                                <option value="Family Welfare (Old age parents)">Family Welfare </option>
                                                <option value="Construction of Dream Homes">Construction of Dream Homes</option>
                                                <option value="Leasing Services">Leasing Services</option>
                                                <option value="Liaison and Documentation Services">Liaison and Documentation Services</option>
                                                <option value="Logistics, Tours and Travel Services">Logistics, Tours and Travel Services</option>
                                                <option value="Wealh & Financial / Taxation / Legal & Insurance Services"> Financial Services</option>
                                                 <option value="On Board Services and Take off (Fly off) Services"> On Board Services and Take off (Fly off) Services</option>
                                                
                                                <option value="Others"> Others</option>
                                                </select>
                                                 
                                        </div>
                                        <div class="form-group col-md-12">
                                        <i class="fa fa-envelope icon"></i>
                                            <textarea class="form-control" name="message" required="" placeholder="Message"></textarea>
                                             
                                        </div>
                                        
                                        <div class="form-group col-md-12">
                                            <input type="checkbox" id="acptStatus" name="acceptStatus" value="">
                                        <label for="acptStatus"> I accept to receive SMS promotions from NRI WELLBEING SERVICES PVT.LTD.</label>
                                            
                                        </div>
                                        
                                        <div class="col-md-12">

                                            <button name="submit" id="enqSubmit" class="btn btn-default"> Submit
                                             <i class="fa fa-arrow-right "></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-4" style=" padding: 0px;">
                         <img src="static/images/contact.jpeg" style=" margin-top: 70px;">
                        
                    </div>
                </div>
                <div class="row align-items-center">
                     <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fa fa-map-marker"></i></span>
                            </div>
                            <h3 class="title">Reach Us</h3>
                           <p class="description"><span>1 n All </span><strong> NRI WELLBEING SERVICES PVT. LTD.</strong><br># 201, RR Amruth Legancy,<br> Road No. 6, Snehapuri Colony,<br> Nacharam, Secunderabad,<br> TELANGANA, INDIA - 500 076
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fa fa-phone"></i></span>
                            </div>
                            <h3 class="title">Call Us</h3>
                            <p class="description">+91 70 366 366 70<br> MON - SAT : 9AM TO 6PM (IST) </p>
                        </div>
                    </div>
                   
                    <div class="col-md-4 col-sm-6">
                        <div class="serviceBox">
                            <div class="service-icon">
                                <span><i class="fa fa-envelope"></i></span>
                            </div>
                            <h3 class="title">Mail Us</h3>
                            <p class="description">info@nriwellbeing.com
                            </p>
                        </div>
                    </div>
                </div>
               
            </div>
            <!-- /.container -->
        </div>
        <!-- /.conent -->
        
        <div class="map">
                            
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1307.5629870184334!2d78.54399047388937!3d17.42539153793088!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99277e3b73d1%3A0x922100750215d689!2sNRI%20WELLBEING%20SERVICES!5e0!3m2!1sen!2sin!4v1655386218516!5m2!1sen!2sin"
                                allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
  <div class="get-quote p-color-bg wow fadeInUp con-t">
            <div class="container">
                <p class="float-left">We assure "Your Well-being" as our top priority.</p>
               
            </div>
            <!-- /.container -->
        </div>
<!-- <script type="text/javascript">
    
function verify_OTP(otp)
{
  // alert(otp);
   var submit = document.getElementById("enqSubmit");
   var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function()
    {
      if(this.readyState == 4 && this.status == 200)
      {
       
        // alert(this.responseText);
       // my.innerHTML = this.responseText;
        if(this.responseText == '0')
        {
          // alert('User Already Existed');
          submit.disabled = true;
        }
        else
        {
          submit.disabled = false;
        }

                         
       }
    };
  xhttp.open("GET", "https://nriwellbeing.com/Home/verify_OTP/?otp="+otp ,true);
 
  xhttp.send();
  return false;   
      
}

</script> -->

<!-- <script type="text/javascript">
    
function sendOTP()
{

    var mailformat = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
    
    var cnt="";
    if(enqEmail.value.match(mailformat))
    {
        var cnt=1;
        // alert("Valid email address!");
    }
    else
    {        
        var cnt = 0;
        alert("You have entered an invalid email address!");  

        document.getElementById("enqSubmit").disabled=true; 
    }
   

  if(cnt == 1)
    {     
       var email = enqEmail.value;
        
       var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function()
        {
          if(this.readyState == 4 && this.status == 200)
          {
           
            // document.getElementById("enqSubmit").disabled=false;
            alert("OTP send on email");

                // alert("ok");                           
           }
        };
      xhttp.open("GET", "https://nriwellbeing.com/Home/sendOTP/?email="+email ,true);
     
      xhttp.send();
      return false;   
    }  
}

</script> -->
        <!-- Footer ______________________________ -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  footer-link wow fadeInUp">
                            <h6>Our Services </h6>
                            <ul>
                               <li><a href="/properties-development" class="tran3s">Properties Development</a></li>

                                <li><a href="/facility-management" class="tran3s">Facility Management Solutions</a></li>

                                <li><a href="/property-assets-management" class="tran3s">Properties Management & Assets Management</a></li>
                                <li><a href="/family-welfare" class="tran3s">Family Welfare</a></li>
                                  <li><a href="/construction-of-dream-houses" class="tran3s">Construction of Dream Homes</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-blog -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-link wow fadeInUp">
                            <h6>&nbsp</h6>
                            <ul>

                                <li><a href="/leasing-services" class="tran3s">Leasing Services</a></li>
                                <li><a href="/liaison-documentation-services" class="tran3s">Liaison and Documentation Services</a></li>
                                <li><a href="/logistics-tours-travel-services" class="tran3s">Logistics, Tours and Travel Services</a></li>
                                  <li><a href="/financial-services" class="tran3s">Financial Services</a></li>
                                    <li><a href="/onboardservices" class="tran3s">On Board Services and Take off (Fly off) Services</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-link -->
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 footer-link wow fadeInUp">
                            <h6>QUICK LINKS</h6>
                            <ul>
                                <li><a href="/" class="tran3s">Home</a></li>
                                <li><a href="/about-us" class="tran3s">About Us</a></li>
                                <li><a href="/faqs">FAQ's</a></li>
                                <li><a href="/enquiry">Enquiry</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-tag -->
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 footer-about wow fadeInUp">
                            <h6>CORPORATE OFFICE</h6>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> <strong><span></span>    NRI Wellbeing Services Pvt. Ltd.</strong><br> # 201, RR Amruth Legancy,<br> Road No. 6, Snehapuri Colony,<br> Nacharam, Secunderabad,<br> TELANGANA, INDIA - 500 076</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@nriwellbeing.com</li>
                                <li><i class="fa fa-phone-square" aria-hidden="true"></i> +91 70 366 366 70 </li>
                            </ul>
                        </div>
                        <!-- /.footer-about -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.top-footer -->

            <!-- Bottom Footer -->
            <div class="bottom-footer">
                <div class="container">
                    <p>Copyright 2022 &copy; NRI Wellbeing Services <span class="p-color">|</span> Developed by <a href="https://builtintech.in/" class="tran3s" target="_blank"> BuiltinTech</a></p>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.bottom-footer -->
        </footer>
        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s p-color-bg">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

        <!-- Js File_________________________________ -->

        <!-- j Query -->
          <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery-2.1.4.js')}}"></script>

        <!-- Bootstrap JS -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/bootstrap.min.js')}}"></script>

        <!-- Vendor js _________ -->
        <!-- revolution -->
        <script src="{{url_for('static',filename='vendor/revolution/jquery.themepunch.tools.min.js')}}"></script>
        <script src="{{url_for('static',filename='vendor/revolution/jquery.themepunch.revolution.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.slideanims.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.layeranimation.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.navigation.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.kenburn.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.actions.min.js')}}"></script>

        <!-- WOW js -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/WOW-master/dist/wow.min.js')}}"></script>
        <!-- owl.carousel -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/owl-carousel/owl.carousel.min.js')}}"></script>
        <!-- js count to -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery.appear.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery.countTo.js')}}"></script>
        <!-- Progress Bar js -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/skills-master/jquery.skills.js')}}"></script>

        <!-- Theme js -->
        <script type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

    </div>
    <!-- /.main-page-wrapper -->
</body>

</html>