<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- For Resposive Device -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>NRI - Wellbeing Services</title>

    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="static/images/fav-icon/icon.png">


    <!-- Main style sheet -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <!-- responsive style sheet -->
    <link rel="stylesheet" type="text/css" href="static/css/responsive.css">


    <!-- Fix Internet Explorer ______________________________________-->

    <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script src="vendor/html5shiv.js"></script>
        <![endif]-->

</head>

<body>
    <div class="main-page-wrapper">

        <!-- Header _________________________________ -->
        <header>
            <div class="container clear-fix">
                <div class="right-side float-left">
                       <marquee>     
    <p>It’s an ISO Certified Company - This Platform is especially designed to cater each & every need of a Non Resident Indian in Telangana & Andhra Pradesh States.</p>
    
   </marquee>

                    </div>
                <div class="left-side float-right">
                    <ul>
                        <li><a href="mailto:info@nriwellbeing.com" class="tran3s"><i class="fa fa-envelope p-color" aria-hidden="true"></i> info@nriwellbeing.com</a></li>
                        <li><a href="tel:+917036636670" class="tran3s"><i class="fa fa-phone p-color" aria-hidden="true"></i></i> +91 70 366 366 70</a> </li>
                         <li><a href="https://wa.me/+917337548998" class="tran3s"><i class="fa fa-whatsapp p-color" aria-hidden="true"></i> +91 7337 54 8998</a> </li>
                    </ul>
                </div>
                <!-- /.left-side -->
               
            </div>
            <!-- /.container -->
        </header>


        <!-- Theme Menu _________________________________ -->
        <div class="main-menu menu-colorOne">
            <div class="container clear-fix">
                <a href="/" class="float-left logo"><img src="static/images/nri-wellbeing-services.png" alt=""></a>
                <h1><span class="one"> 1 n All </span> <span class="ni">N</span>R<span class="in">I</span> WELLBEING SERVICES PVT. LTD. </h1>
                <!-- Menu -->
                <nav class="navbar float-right">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                           <span class="icon-bar"></span>
                         </button>
                    </div>
                    
                                        
                    <!-- Collect the nav links, forms, and other content for toggling -->
                     <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class=''><a href="/">Home</a></li>

                            <li class=''><a href="/about-us">About Us</a></li>
                              <li class=''><a href="/projects">Projects</a></li>

                            <li class='dropdown-holder' class=""><a href="#">Services</a>
                                <ul class="sub-menu">
                                   <li><a href="/properties-development" class="tran3s">Properties Development</a></li>

                                    <li><a href="/facility-management" class="tran3s">Facility Management Solutions</a></li>

                                    <li><a href="/property-assets-management" class="tran3s">Properties Management & Assets Management</a></li>

                                    <li><a href="/family-welfare" class="tran3s">Family Welfare</a></li>

                                    <li><a href="/construction-of-dream-houses" class="tran3s">Construction of Dream Homes</a></li>

                                    <li><a href="/leasing-services" class="tran3s">Leasing Services</a></li>

                                    <li><a href="/liaison-documentation-services" class="tran3s">Liaison and Documentation Services</a></li>

                                    <li><a href="/logistics-tours-travel-services" class="tran3s">Logistics, Tours and Travel Services</a></li>

                                    <li><a href="/financial-services" class="tran3s">Financial Services</a></li>
                                     <li><a href="/onboardservices" class="tran3s">On Board Services At Airport</a></li>

                                </ul>
                            </li>

                            <li class='active'><a href="/faqs">FAQ's</a></li>

                            <li class=''><a class="en-btn" href="/enquiry">Enquiry</a></li>


                                                         
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </nav>


            </div>
        </div>
        <!-- /.main-menu -->        <!-- bread cumb secion -->
        <section class="breadcrumb">
            <div class="container">
                <h1>FAQ's</h1>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li>FAQ's</li>
                </ul>
            </div>
        </section>

        <!-- conent Section _________________________ -->
        <div class="inner_conetent">
            <div class="container">
                <div class="main-timeline">
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon bl">
                                <span><img src="static/images/nri.png" alt=""></span>
                            </div>
                            <h3 class="title">What is NRI Wellbeing services?
                            </h3>
                            <p class="description">
                               It is a Wellbeing Services Organisation which can cater whole required services to the NRI with best quality & Trust worthy.

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/aim.png" alt=""></span>
                            </div>
                            <h3 class="title">What is the aim of NRI wellbeing services?
                            </h3>
                            <p class="description">
                               On behalf of NRI we will undertake all their Tasks & responsibilities and perform to their utmost satisfaction.

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/team.png" alt=""></span>
                            </div>
                            <h3 class="title">Tell me about your Team?
                            </h3>
                            <p class="description">
                                Our professional Team is well trained with the best ethics, honesty and dedication in completing the job.

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/trust.png" alt=""></span>
                            </div>
                            <h3 class="title">Why should I Trust your services?
                            </h3>
                            <p class="description">
                               In terms of Quality and Service our performance is in the next level to cater the NRI’s within time, budget, and quality.

                            </p>
                        </div>
                    </div>
                   
                       <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/request.png" alt=""></span>
                            </div>
                           <h3 class="title">How can we track the status of our request?
                            </h3>
                            <p class="description">
                            After your order is confirmed with us, you can login to your My Account and check the status of your orders, also you will receive regular updates to your registered email.

                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/special-service.png" alt=""></span>
                            </div>
                           <h3 class="title">If my request is a special and is not available in your listed Services?
                            </h3>
                            <p class="description">
                              If you didn’t find your requirement over there in our list, just place your request by email or ask us with complete details. Our team will assist and try to take up your request.

                            </p>
                        </div>
                    </div>
                     <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/asset-management.png" alt=""></span>
                            </div>
                            <h3 class="title">What kind of property management / Assets management will you do for us?
                            </h3>
                            <p class="description">
                            We will undertake any property / asset kept ideal without in useing for long time. We will manage to keep them in healthy condition by doing required maintenance and make them ready for use. Also, upon your request, we will do the feasibility study for income generation or any other possibilities.

                            </p>
                        </div>
                    </div>
                     <div class="timeline">
                        <div class="timeline-content">
                            <div class="timeline-icon">
                                <span><img src="static/images/charges.png" alt=""></span>
                            </div>
                            <h3 class="title">What are the charges?
                            </h3>
                            <p class="description">
                                Depending upon the service we will charge you on the minimum line which will be the real value for money.


                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.conent -->



        <!-- Get Quote ___________________________ -->
        <div class="get-quote p-color-bg wow fadeInUp">
            <div class="container">
                <p class="float-left">On your behalf, for everything we will put present ourselves in your<br> shoes to serve you at our best by providing support to you.</p>
                <a href="/enquiry" class="tran3s float-right">Enquire Us</a>
            </div>
            <!-- /.container -->
        </div>
        <!-- /.get-quote -->
        <!-- Footer ______________________________ -->
        <footer>
            <div class="top-footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12  footer-link wow fadeInUp">
                            <h6>Our Services </h6>
                            <ul>
                               <li><a href="/properties-development" class="tran3s">Properties Development</a></li>

                                <li><a href="/facility-management" class="tran3s">Facility Management Solutions</a></li>

                                <li><a href="/property-assets-management" class="tran3s">Properties Management & Assets Management</a></li>
                                <li><a href="/family-welfare" class="tran3s">Family Welfare</a></li>
                                  <li><a href="/construction-of-dream-houses" class="tran3s">Construction of Dream Homes</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-blog -->
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 footer-link wow fadeInUp">
                            <h6>&nbsp</h6>
                            <ul>

                                <li><a href="/leasing-services" class="tran3s">Leasing Services</a></li>
                                <li><a href="/liaison-documentation-services" class="tran3s">Liaison and Documentation Services</a></li>
                                <li><a href="/logistics-tours-travel-services" class="tran3s">Logistics, Tours and Travel Services</a></li>
                                  <li><a href="/financial-services" class="tran3s">Financial Services</a></li>
                                    <li><a href="/onboardservices" class="tran3s">On Board Services and Take off (Fly off) Services</a></li>
                            </ul>
                        </div>
                        <!-- /.footer-link -->
                        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12 footer-link wow fadeInUp">
                            <h6>QUICK LINKS</h6>
                            <ul>
                                <li><a href="/" class="tran3s">Home</a></li>
                                <li><a href="/about-us" class="tran3s">About Us</a></li>
                                <li><a href="/faqs">FAQ's</a></li>
                                <li><a href="/enquiry">Enquiry</a></li>
                            </ul>
                        </div>

                        <!-- /.footer-tag -->
                        <div class="col-lg-4 col-md-3 col-sm-6 col-xs-12 footer-about wow fadeInUp">
                            <h6>CORPORATE OFFICE</h6>
                            <ul>
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i> <strong><span></span>    NRI Wellbeing Services Pvt. Ltd.</strong><br> # 201, RR Amruth Legancy,<br> Road No. 6, Snehapuri Colony,<br> Nacharam, Secunderabad,<br> TELANGANA, INDIA - 500 076</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> info@nriwellbeing.com</li>
                                <li><i class="fa fa-phone-square" aria-hidden="true"></i> +91 70 366 366 70 </li>
                            </ul>
                        </div>
                        <!-- /.footer-about -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container -->
            </div>
            <!-- /.top-footer -->

            <!-- Bottom Footer -->
            <div class="bottom-footer">
                <div class="container">
                    <p>Copyright 2022 &copy; NRI Wellbeing Services <span class="p-color">|</span> Developed by <a href="https://builtintech.in/" class="tran3s" target="_blank"> BuiltinTech</a></p>
                </div>
                <!-- /.container -->
            </div>
            <!-- /.bottom-footer -->
        </footer>

        <!-- Scroll Top Button -->
        <button class="scroll-top tran3s p-color-bg">
                <i class="fa fa-angle-up" aria-hidden="true"></i>
            </button>

        <!-- Js File_________________________________ -->

        <!-- j Query -->
          <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery-2.1.4.js')}}"></script>

        <!-- Bootstrap JS -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/bootstrap/bootstrap.min.js')}}"></script>

        <!-- Vendor js _________ -->
        <!-- revolution -->
        <script src="{{url_for('static',filename='vendor/revolution/jquery.themepunch.tools.min.js')}}"></script>
        <script src="{{url_for('static',filename='vendor/revolution/jquery.themepunch.revolution.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.slideanims.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.layeranimation.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.navigation.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.kenburn.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/revolution/revolution.extension.actions.min.js')}}"></script>

        <!-- WOW js -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/WOW-master/dist/wow.min.js')}}"></script>
        <!-- owl.carousel -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/owl-carousel/owl.carousel.min.js')}}"></script>
        <!-- js count to -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery.appear.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static',filename='vendor/jquery.countTo.js')}}"></script>
        <!-- Progress Bar js -->
        <script type="text/javascript" src="{{url_for('static',filename='vendor/skills-master/jquery.skills.js')}}"></script>

        <!-- Theme js -->
        <script type="text/javascript" src="{{url_for('static',filename='js/theme.js')}}"></script>

    </div>
    <!-- /.main-page-wrapper -->
</body>

</html>